$FrameLine: #707070;
$BackGroundColor: #efece7;
$Disabled: #a8b0b9;
$BrandColor: #03438d;
$BaseBlack: #000400;
$BaseBlack-800: #808080;
$BaseWhite: #ffffff;
$BaseGray: #00040029;
$Warning: #eec32a;
$Danger: #f57375;
$Info: #e2edfa;
$Secondary: #9b9893;
$LoadingBGC: #1f2028;
$green: green;

